
*.log
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-C186D6B0404D8BC0D9A18087113DBC74/CrashReportClient.ini
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/AutoScreenshot.png
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Autosaves/PackageRestoreData.json
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-82CE8488453832C863CF1FB05D498D25/CrashReportClient.ini
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-C83E3F3F472C122EA0C531AC81AC78DE/CrashReportClient.ini
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-DB59C379430AD5D7ADB3DDB62CBA4C05/CrashReportClient.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
*.log
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-F90740434776593C3C1FC88BFC3DE2C5/CrashReportClient.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Autosaves/PackageRestoreData.json
Astra/Intermediate/CachedAssetRegistry.bin
