
*.log
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-C186D6B0404D8BC0D9A18087113DBC74/CrashReportClient.ini
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/AutoScreenshot.png
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Autosaves/PackageRestoreData.json
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-82CE8488453832C863CF1FB05D498D25/CrashReportClient.ini
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-C83E3F3F472C122EA0C531AC81AC78DE/CrashReportClient.ini
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-DB59C379430AD5D7ADB3DDB62CBA4C05/CrashReportClient.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
*.log
Astra/Saved/*
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-F90740434776593C3C1FC88BFC3DE2C5/CrashReportClient.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Autosaves/PackageRestoreData.json
Astra/Intermediate/CachedAssetRegistry.bin
Astra/Content/FXVarietyPack/Blueprints/BP_ky_aquaStorm.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_darkStorm.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_explosion.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_fireBall.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_fireStorm.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_healAura.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_hit1.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_hit2.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_laser01.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_lightning1.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_lightning2.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_lightning3.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_magicCircle1.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_shootingStar1.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_shotSpawn.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_storm.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_thunderBall.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_ThunderBallHit.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_thunderStorm.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_waterBall.uasset
Astra/Content/FXVarietyPack/Blueprints/BP_ky_waterBallHit.uasset
Astra/Content/FXVarietyPack/EpicContent/Blueprints/BP_DemoDisplay.uasset
Astra/Content/FXVarietyPack/EpicContent/Blueprints/BP_DemoDisplay_Enum.uasset
Astra/Content/FXVarietyPack/EpicContent/Blueprints/BP_DemoRoom.uasset
Astra/Content/FXVarietyPack/EpicContent/Blueprints/BP_DemoRoom_Enum.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DefaultTextMaterialTranslucentUnlit.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoRoomTiles.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWall.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWall_Inst_NamePlate.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWall_MattPlastic.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWallPattern.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWallPattern_Inst_Mirrored.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_DemoWallPattern_NoText.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_Glass.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/M_LightTube.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoRoomTiles.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoWall.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoWall2.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoWall3.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoWall_Inst_BaseFloor.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_DemoWallPattern.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_Glass.uasset
Astra/Content/FXVarietyPack/EpicContent/Materials/MI_LightTube.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_Base.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_Base2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_Base_FlatWall.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_BaseRoom.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoDivider1.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoDivider2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomBackWall.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomBackWall2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomClamp.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomClamp2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomL.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomLTrim.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomTrim.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomTrim2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomTrimAdd.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomU.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomU2.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_DemoRoomU_Hole.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_NamePlate.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_URoom_Wall.uasset
Astra/Content/FXVarietyPack/EpicContent/Meshes/SM_URoom_Wall2.uasset
Astra/Content/FXVarietyPack/EpicContent/Physical_Materials/Concrete.uasset
Astra/Content/FXVarietyPack/EpicContent/Physical_Materials/Metal.uasset
Astra/Content/FXVarietyPack/EpicContent/Physical_Materials/Rubber.uasset
Astra/Content/FXVarietyPack/EpicContent/Textures/T_Pattern_M.uasset
Astra/Content/FXVarietyPack/EpicContent/Textures/T_RoomTiles_M.uasset
Astra/Content/FXVarietyPack/EpicContent/Textures/T_RoomTiles_N.uasset
Astra/Content/FXVarietyPack/EpicContent/Textures/T_UnrealEngineDecal.uasset
Astra/Content/FXVarietyPack/Map/Overview.umap
Astra/Content/FXVarietyPack/Materials/M_ky_aura9.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_auraWall02.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_base.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_base_anime.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_base_turbulence.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_chantDecoA.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_circle01_4x4G_nonD.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_dust01_4x4.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_dynDust.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_empty.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_flare01_primitive.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_flare_flash.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_flarePillar.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_flareVert.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_Fresnel.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_laser01.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_magicCircle020.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_polar.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_polar_primitive.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_primitive.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_primitive_dyn2.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_shockWave03_4x4.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_smoke01.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_starDust.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_stone02.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_storm01.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_stormDeco01.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_subUV01.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_subUV03.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_subUV_dynRGB.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_thunderForBeam.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_trail_primitive.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_vortex04_4x4.uasset
Astra/Content/FXVarietyPack/Materials/M_ky_waterDust02.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_AddHilight.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_MaskToTopUnder.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_TexController.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_TexController_primitive.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_UVcontrol_4x4.uasset
Astra/Content/FXVarietyPack/Materials/Mfunction/MF_ky_VectorToRadialValue.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_aura011_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_aura011_4x4_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_aura9.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_auraWall02_two.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_chantDecoAc.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_circle9_4x4c2.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_circleDust.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_dynDust.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_dynDust2.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_flare25_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_flare_flash_trs.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_flareVertical03b_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_lightning02_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_lightningDust01_4x4_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_polar_two.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_polarC_two.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_polarG_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_primitive2b_trs.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_primitive_dynB_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_primitive_dynB_two.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shine01B.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shine01R.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shine01R_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shockWave03g_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shockwave10R_4x4_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_shockwave12_4x4.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_smoke01.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_smoke01b.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_smoke01c.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_starDust_dis.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_starDust_sq.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_aqua.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_aqua_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_dark.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_dark_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_fire.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_fire_nonD1.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_thunder.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_storm01_thunder_nonD.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_stormDeco01_aqua.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_stormDeco01_dark.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_stormDeco01_fire.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_turbulence_smoke2d_trs.uasset
Astra/Content/FXVarietyPack/Materials/MI_ky_vortex04B_4x4_two.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_auraWall_distB_kai.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_circleDist06.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_cylinder_lowPoly_dist.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_cylinder_superLow.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_cylinderBend07.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_planeBend.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_quad_centerRot.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_quads.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_tornado07.uasset
Astra/Content/FXVarietyPack/Meshes/SM_ky_windSmokeVertRot.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_aquaStorm.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_darkStorm.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_explosion.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_fireBall.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_fireStorm.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_healAura.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_hit1.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_hit2.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_laser01.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_lightning1.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_lightning2.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_lightning3.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_magicCircle1.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_shootingStar1.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_shotShockwave.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_storm.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_thunderBall.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_ThunderBallHit.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_thunderStorm.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_waterBall.uasset
Astra/Content/FXVarietyPack/Particles/P_ky_waterBallHit.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_aura011_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_auraWallWhite_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_bg.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_bg_LC.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_chantDecoC.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_circle01_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_circle9_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_circleDust.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_deco_doom.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_deco_rainbow.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_decoLines.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_decoLinesB.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_dist_noise.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_dust01_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_dust_longStar.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flare25_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flare3.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flare_a.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flareVert.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flareVertical02.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_flareVertical03_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_lightning02_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_lightningDust01_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_magicCircle020.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_maskCircle.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_maskRGB3.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_maskRGB5.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise13_sml_nor.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise17.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise3.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise5.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_noise6.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_shine01_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_shockWave03_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_shockwave10_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_shockwave12_4x4.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_smoke03.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_smoke1.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_smoke2.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_smoke_kai.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_stone02_2x2.uasset
Astra/Content/FXVarietyPack/Textures/T_ky_vortex04_4x4.uasset
Astra/Intermediate/ReimportCache/3688439234.bin
Astra/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Astra/Intermediate/AssetRegistryCache/c90e3f55.bin
Astra/Intermediate/AssetRegistryCache/80733c15.bin
Astra/Intermediate/AssetRegistryCache/311563bb.bin
