
*.log
Astra/Saved/Config/CrashReportClient/UE4CC-Windows-C186D6B0404D8BC0D9A18087113DBC74/CrashReportClient.ini
Astra/Saved/Logs/Astra.log
Astra/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Astra/Saved/Config/Windows/Engine.ini
Astra/Saved/AutoScreenshot.png
